img {
    filter: hue-rotate(0deg);
    animation: raymonsucks 1s infinite;
}
@keyframes raymonsucks {
    0% {
        filter: hue-rotate(-30deg);
    }
    50% {
        filter: hue-rotate(30deg);
    }
    100% {
        filter: hue-rotate(-30deg);
    }
}
